div#calendar{
margin:0px auto;
padding:0px;
width: 100%;
font-family:Helvetica, "Times New Roman", Times, serif;
}

div#calendar div.box{
position:relative;
top:0px;
left:0px;
width:100%;
height:40px;
background-color: #ffcb04;
}

div#calendar div.kronos_header{
line-height:40px;
vertical-align:middle;
position:absolute;
	font-weight: bold;
left:11px;
top:0px;
width:100%;
height:40px;
text-align:center;
}

div#calendar div.kronos_header a.prev,div#calendar div.kronos_header a.next{
position:absolute;
top:0px;
padding-right: 20px;
height: 17px;
display:block;
cursor:pointer;
text-decoration:none;
color:#3163bd;
font-weight: bold;
}

div#calendar div.kronos_header span.title{
color:#3163bd;
font-weight: bold;
font-size:18px;
}


div#calendar div.kronos_header a.prev{
left:0px;
}

div#calendar div.kronos_header a.next{
right:0px;
}


div#calendar div.box-content{
border-top:none;
width: 100%;

}



div#calendar ul.label{
float:left;
margin: 0px;
padding: 0px;
margin-top:5px;
margin-left: 5px;
width: 100%;
}

div#calendar ul.label li{
margin:0px;
padding:0px;
float:left;
list-style-type:none;

height:40px;
line-height:40px;
vertical-align:middle;
text-align:center;
color:#000;
font-size: 15px;
background-color: transparent;
}


div#calendar ul.dates{
float:left;
margin: 0px;
padding: 0px;
margin-left: 5px;
margin-bottom: 5px;
}

.bdp_cal_day
{
padding-left: 5px;
color: #a0a0a0;
}

bdp_cal_day td {
min-height: 100px;
}
.bdp_event_table {
width:95%;
}
.bdp_cal_day ul {
padding: 0;
}

.bdp_cal_day li {
list-style-type: none;
width:95%;
font-size: 8pt;
font-weight: bold;
padding: 2px;
margin-bottom: 2px;
}

.kronos_cal_event_red,
.kronos_cal_event_yellow,
.kronos_cal_event_blue,
.kronos_cal_event_green,
.kronos_cal_event_grey,
.kronos_cal_event_fuchsia,
.kronos_cal_event_orange
{
	font-weight: bold;
padding: 2px 4px;
border-radius: 5px;
overflow: hidden;
text-overflow: ellipsis;
	line-height: 18px;
white-space: nowrap;
	display: block;
	cursor: pointer;
	font-size: 9pt;


}

.kronos_cal_event_blue {
background-color: #1e88e5;
color: #FFFFFF;
}

.kronos_cal_event_green {
background-color: #00d084;
color: #000000;
}

.kronos_cal_event_red
{
.kronos_cal_event_entry;
background-color: #e91e63;
color: #ffffff;
}

.kronos_cal_event_yellow
{
.kronos_cal_event_entry;
background-color: #eeee88;
color: #000000;
}

.kronos_cal_event_orange
{
.kronos_cal_event_entry;
background-color: #ffa747;
color: #000000;
}


.kronos_cal_event_grey
{
.kronos_cal_event_entry;
background-color: #D5D5D5;
color: #000000;
}

.kronos_cal_event_fuchsia
{
.kronos_cal_event_entry;
background-color: #FF6EFF;
color: #000000;
}





/** overall width = width+padding-right**/
div#calendar ul.dates li{
margin:0px;
padding:0px;
padding-left: 2px;
padding-top: 10px;
vertical-align:bottom;
float:left;
list-style-type:none;
width:15%;
height:100px;
font-size:12pt;
background-color: #fff;
color:#000;
border-style: solid;
border-width:1px;
border-color: #add8e6;
}

:focus{
outline:none;
}

div.clear{
clear:both;
}

#calendar_table {
	border-collapse: collapse; border-spacing: 0;   table-layout: fixed;width: 100%;
}

#calendar_table th {
	text-align: left;
}

#calendar_table td {
	border-style: solid;
	border-width: 1px;
	border-color: #e0e0e0;
	height: 150px;
	vertical-align: top;
}




#kronos-hider {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2048px;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.53);
}

#kronos-event-infobox
{
	display: none;
	position: absolute;
	top: 250px;
	left: 250px;
	min-width: 800px;
	background-color:#ffffff;
	z-index: 10;
	border-radius: 10px;
}

#kronos-event-infobox-header
{
	background-color: #FFCB04;
	border-radius: 10px 10px 0 0;
	padding: 5px;
	color: #1d4899;
	font-weight: bold;
	display: flex;
}


#kronos-event-infobox-content{
	padding: 10px;
}

@media screen and (max-width: 700px) {
	#kronos-event-infobox {
		left: 0;
		top: 25px;
	}
}

.kronos-page {
	border-style: solid;
	border-width: 1px;
	border-color: #c0c0c0;
	box-shadow: 10px 10px 10px #e0e0e0;
	width: 90%;
	border-radius: 10px;
	margin: 30px auto;
	padding: 5px;
	background-color: #ffffff;
}

.kronos-page h3 {
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #e5e7eb;
	border-radius: 10px;
	padding: 0 60px 5px 20px;
	border-left-width: 40px;
	font-size: 12pt;
	position: relative;
	left: 25px;
	width: 40%;
	top: -30px;
}


.kronos-update-button {
	background-color: #ffffff !important;
	color: #0a4b78 !important;
}

.kronos-update-button:hover {
	color: #ffffff !important;
	background-color: #0a4b78 !important;
}